//ICON FONT CATEGORIES
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/svg_icon/icomoon.eot?bvr2hw');
  src: url('../fonts/svg_icon/icomoon.eot?bvr2hw#iefix') format('embedded-opentype'),
  url('../fonts/svg_icon/icomoon.ttf?bvr2hw') format('truetype'),
  url('../fonts/svg_icon/icomoon.woff?bvr2hw') format('woff'),
  url('../fonts/svg_icon/icomoon.svg?bvr2hw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon', Arial, sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cup:before {
  content: "\e901";
  font-size: 80px;
  color: #ffffff;
}

.icon-pants:before {
  content: "\e902";
  font-size: 80px;
  color: #ffffff;
}

.icon-shirt:before {
  content: "\e903";
  font-size: 80px;
  color: #ffffff;
}

.icon-shoes:before {
  content: "\e904";
  font-size: 80px;
  color: #ffffff;
}

.icon-tie:before {
  content: "\e905";
  font-size: 200px;
  line-height: 0.5;
  color: #ffffff;
}

.icon-umbrella:before {
  content: "\e906";
  font-size: 80px;
  color: #ffffff;
}

@font-face {
  font-family: 'muliblack';
  src: url('../fonts/muli-black-webfont.eot');
  src: url('../fonts/muli-black-webfont.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/muli-black-webfont.woff') format('woff');
  src: url('../fonts/muli-black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'mulibold';
  src: url('../fonts/muli-bold-webfont.eot');
  src: url('../fonts/muli-bold-webfont.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/muli-bold-webfont.woff') format('woff');
  src: url('../fonts/muli-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'muliextrabold';
  src: url('../fonts/muli-extrabold-webfont.eot');
  src: url('../fonts/muli-extrabold-webfont.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/muli-extrabold-webfont.woff') format('woff');
  src: url('../fonts/muli-extrabold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'muliregular';
  src: url('../fonts/muli-regular-webfont.eot');
  src: url('../fonts/muli-regular-webfont.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/muli-regular-webfont.woff') format('woff');
  src: url('../fonts/muli-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@width_page: 1280px;
@main_font: muliextrabold, Arial, sans-serif;
@title_font: mulibold, Arial, sans-serif;
@nav_font: muliregular, Arial, sans-serif;
@content_font: muliblack, Arial, sans-serif;
@logo_color: #06b5a9;
@nav_color: #626262;
@submenu_color: #cf1a2b;
@left_pos: 45px;
@bottom_pos: 110px;
@tablet: 960px;
@bg_with_glass: rgba(245, 248, 248, 0.9);
@basic_color: #ffffff;
@fontWithColor: { color: #ffffff; font-family: @main_font; };

.ul_style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reset_padding {
  padding: 0;
}

.reset_margin {
  margin: 0;
}

.position_img {
  right: 0;
  bottom: -2px;
}

* {
  box-sizing: border-box;
}

.padding_none {
  padding: 0 !important;
}

body {
  width: 100%;
  .reset_margin;
}

.wrapper {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  background-color: @bg_with_glass;
  height: 90px;
  top: 0;
  z-index: 1;
  text-align: center;
}

.logo {
  .ul_style;
  display: inline-block;
  font-size: 0;
  line-height: 90px;
  li {
    display: inline-block;
    font-family: @main_font;
    font-size: 38px;
  }
}

.logo li:nth-child(3), .logo li:nth-child(4), .logo li:nth-child(5) {
  color: @logo_color;
}

.nav {
  width: 100%;
  height: 90px;
}

.nav_menu {
  width: auto;
  display: inline-block;
  font-family: @title_font;
  font-size: 18px;
  height: 90px;
  .nav_categories {
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 90px;
    color: @nav_color;
    position: relative;
    vertical-align: middle;
    &:hover {
      background-color: @submenu_color;
    }
  }
  a {
    text-decoration: none;
    color: @nav_color;
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 90px;
  }
  .nav_categories:hover > .sub_menu {
    display: block;
  }
  .nav_categories:hover > a {
    color: @basic_color;
  }
  .cart {
    width: auto;
    display: inline-block;
    span {
      display: inline-block;
      vertical-align: middle;
    }
    .cart_count {
      padding: 0 3px 0 3px;
    }
    .cart_detail {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid #bdbdbd;
    }

  }
  .sub_menu {
    position: absolute;
    display: none;
    width: 600px;
    height: 300px;
    background-color: @submenu_color;
    bottom: -300px;
    left: 0;
    box-shadow: 1px 1px 10px 1px #333333;
    border-top: 1px solid #d94855;
    .sub_section {
      width: 210px;
      float: left;
      border-right: 1px solid #d94855;
      height: 100%;
      margin-right: 5px;
      .sub_menu_title {
        width: 210px;
        color: @basic_color;
        border-bottom: 1px solid #d94855;
      }
      .logo li:nth-child(3), .logo li:nth-child(4), .logo li:nth-child(5) {
        color: #fec8cd;
      }
      .sub_logo {
        width: 210px;
        margin-top: 30px;
        img {
          margin-left: 15px;
        }
      }
    }
  }
  .sub_menu_product {
    border-right: 1px solid #d94855;
  }
  .sub_menu_product, .sub_menu_other {
    width: 180px;
    height: 100%;
    display: inline-block;
    margin: 0 5px 0 0;
    float: left;
    a {
      width: 100%;
      height: auto;
      font-size: 16px;
      line-height: normal;
      color: @basic_color;
      text-decoration: none;
      margin: 10px 0 10px 0;
      &:hover {
        color: #000000;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .header {
    background-color: #ffffff;
    position: static;
    height: auto;
    .nav {
      width: auto;
      height: auto;
    }
    .nav_menu {
      width: 100%;
      height: auto;
      .nav_categories {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 20px 0 20px 0;
        a {
          line-height: normal;
        }
      }
      .nav_categories:hover > .sub_menu {
        display: none;
      }
      .cart {
        width: 100%;
        padding: 25px 0 25px 0;
      }
    }
  }

  .slider {
    .slider_content {
      span {
        display: inline-block;
        margin: 0;
        font-size: 16px !important;
        line-height: normal;
        text-align: center;
        letter-spacing: 5px !important;
      }
      h1 {
        font-size: 30px !important;
        line-height: normal !important;
      }
    }
  }
  .slider_btn {
    display: none;
  }

  .content {
    .content_categories {
      height: 300px;
      h2 {
        font-size: 30px;
      }
      .round {
        width: 80px;
        height: 80px;
        margin-left: -5px;
      }
      .round:nth-child(2), .round:last-child {
        display: none;
      }
      .icon_resize {
        line-height: 80px;
      }
    }
  }

  .icon-cup:before {
    content: "\e901";
    font-size: 50px;
    color: #ffffff;
  }

  .icon-pants:before {
    content: "\e902";
    font-size: 50px;
    color: #ffffff;
  }

  .icon-shirt:before {
    content: "\e903";
    font-size: 50px;
    color: #ffffff;
  }

  .icon-shoes:before {
    content: "\e904";
    font-size: 50px;
    color: #ffffff;
  }

  .icon-umbrella:before {
    content: "\e906";
    font-size: 50px;
    color: #ffffff;
  }

  .product_section {
    .banner_container {
      margin-top: -11px;
      img {
        width: 240px;
        height: 110px;
      }
    }
    .product_container {
      width: 300px !important;
      height: auto !important;
    }
    .product_description {
      text-align: center;
      h1 {
        font-size: 25px;
      }
      p {
        width: 80%;
        font-size: 15px;
      }
      .content_rate {
        margin-top: 15px;
        h4 {
          display: block;
          width: 100%;
          font-size: 25px;
        }
        div {
          margin: 5px auto;
        }
      }
    }
  }
  .other_content {
    margin-top: 15px !important;
  }

  .footer {
    height: auto !important;
    text-align: center;
    .logo_footer {
      width: 100%;
      display: block;
      text-align: center;
      margin: 0 !important;
    }
    .footer_social {
      float: none !important;
      margin: 0 0 5px 0 !important;
    }
    h3 {
      margin: 0 !important;
    }
  }
}

@media screen and (max-width: 900px){
  .nav_menu {
    .nav_categories {
      margin-right: 5px;
      width: 90px;
    }
  }
}

@media screen and (max-width: 1150px){
  .nav_menu {
    .sub_menu {
      width: 350px;
      height: auto;
      left: 0;
      bottom: -255px;
      font-size: 0;
      .sub_section {
        width: 100%;
        height: auto;
        border-right: none;
        text-align: center;
        margin: 0;
        .sub_menu_title {
          width: auto;
        }
        .sub_menu-logo {
          line-height: normal;
          padding: 10px 0 5px 0;
          li {
            font-size: 30px;
          }
        }
        .sub_logo {
          display: none;
        }
      }
    }
    .sub_menu_product {
      display: inline-block;
      width: 45%;
      height: auto;
      float: none;
      a {
        padding: 5px;
        margin: 0;
      }
    }
    .sub_menu_other {
      display: inline-block;
      width: 45%;
      height: auto;
      float: none;
      a {
        padding: 5px;
        margin: 0;
      }
    }
  }
}

.slider {
  position: relative;
  width: 100%;
  height: 55vw;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
  .slider_content {
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: @basic_color;
    span {
      font-size: 22px;
      letter-spacing: 30px;
      margin-left: 25px;
    }
    h1 {
      font-size: 90px;
      font-family: Impact, Arial, sans-serif;
      margin: 0;
      line-height: 95px;
      text-align: center;
    }
  }

  .btn_next, .btn_prev {
    font-size: 200px;
    color: @basic_color;
    position: absolute;
    cursor: pointer;
    transform: translate(-50%, -50%);
    top: 50%;
    &:hover {
      color: @nav_color;
      opacity: 0.8;
    }
  }
  .btn_prev {
    left: 5%;
  }
  .btn_next {
    right: 0;

  }
  .slide {
    display: none;
  }
  .active {
    display: block;
  }
}

.content_promo {
  height: auto;
  width: 100%;
  padding: 40px 0 50px 0;
  text-align: center;
  .promo_detail {
    display: inline-block;
    position: relative;
    width: 210px;
    height: 220px;
    background-color: #06b5a9;
    padding: 5px 0 0 15px;
    overflow: hidden;
    text-align: left;
    margin: 0 10px 0 10px;
    img {
      position: absolute;
    }
    span {
      font-family: @main_font;
      font-size: 49px;
      line-height: 2;
    }
    h5 {
    @fontWithColor();
      font-size: 30px;
    }
    p {
     @fontWithColor();
      font-size: 25px;
      .reset_margin;
      line-height: 0.8;
    }
  }
  .content-block {
    display: inline-block;
    vertical-align: top;
  }
  .content-block_left .promo_detail:nth-child(1) {
    background-color: #58dbd3;
    img {
      .position_img;
    }
    span {
      color: #12867f;
    }
    h5 {
      margin-bottom: 10px;
      margin-top: 0;
    }
  }
  .content-block_left .promo_detail:nth-child(2) {
    background-color: #e4ce9a;
    img {
      .position_img;
    }
    span {
      color: #5e4c38;
      line-height: 3.9;
    }
    h5 {
      margin-bottom: 0;
      margin-top: 0;
      line-height: 0.9;
    }
  }
  .content-block_right .promo_detail:nth-child(1) {
    background-color: #ffa7ce;
    img {
      .position_img;
    }
    span {
      color: #414049;
      line-height: 2.2;
    }
    h5 {
      margin-bottom: 0;
      margin-top: 0;
      line-height: 0.9;
    }
    p {
      font-size: 20px;
      width: 70px;
      margin-top: 10px;
    }
  }
  .content-block_right .promo_detail:nth-child(2) {
    background-color: #f2ca66;
    h3 {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
      .reset_margin;
      font-size: 90px;
      font-family: @main_font;
      color: @basic_color;
      line-height: 0.8;
    }
    h4 {
      font-family: @main_font;
      color: @basic_color;
      font-size: 65px;
      .reset_margin;
      line-height: 1.5;
    }
    div {
      background: @basic_color;
      color: #f2ca66;
      font-size: 26px;
      font-family: @main_font;
      padding-left: 20px;
      padding-right: 20px;
      position: absolute;
      left: 0;
    }
  }
}

.content_block {
  display: inline-block;
  vertical-align: top;
}

.content_categories {
  position: relative;
  width: 100%;
  height: 565px;
  background: url("../images/banner_categories.png") no-repeat;
  overflow: hidden;
  background-size: cover;
  text-align: center;
  font-size: 0;
  h2 {
    font-size: 90px;
    font-family: @main_font;
    color: @basic_color;
    margin: 30px 0 40px 0;
    text-align: center;
  }
  .round {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: rgba(95, 196, 200, 0.8);
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    margin-left: -20px;
  }
  .round:nth-child(2n+1) {
    background-color: rgba(107, 162, 186, 0.8);
  }
  .icon_resize {
    line-height: 150px;
  }
}

.banner_container {
  margin-top: -16px;
  text-align: center;
}

.product_section {
  width: 100%;
  height: auto;
  position: relative;
  .product_container {
    width: auto;
    height: auto;
    margin: 10px auto;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.product_description {
  width: auto;
  height: auto;
  margin: 10px auto;
  vertical-align: top;
  h1 {
    font-size: 35px;
    font-family: @main_font;
    margin: 0 0 5px 0;
  }
  p {
    display: inline-block;
    font-size: 16px;
    font-family: @nav_font;
    width: auto;
    word-spacing: 2px;
  }
  .content_rate {
    width: 100%;
    height: auto;
    margin-top: 40px;
    h4 {
      display: inline;
      .reset_margin;
      font-size: 28px;
      font-family: @main_font;
    }
    h5 {
      font-size: 25px;
      font-family: @title_font;
      color: @basic_color;
      display: inline;
    }
    div {
      display: inline-block;
      margin-left: 30px;
      background-color: #d62132;
      width: 190px;
      height: 50px;
      padding: 0 5px 0 5px;
      line-height: 50px;
      text-align: center;
    }
    .fa-shopping-cart {
      color: @basic_color;
      font-size: 22px;
      line-height: normal;
    }
  }
}
.other_content {
  width: 100%;
  height: auto;
  margin-top: 80px;
  text-align: center;
  .preview_small {
    width: 180px;
    height: 210px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    .preview_container {
      width: 180px;
      height: 175px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
    a {
      font-size: 16px;
      font-family: @title_font;
      text-decoration: none;
      color: @nav_color;
    }
  }
  .preview_small:nth-child(5) {
    .reset_margin;
  }
}

.footer {
  width: 100%;
  height: 85px;
  background-color: #1b2330;
  padding: 10px 0 10px 0;
  h3 {
    font-family: @content_font;
    font-size: 14px;
    color: #767b83;
    margin: 0 0 0 50px;
    line-height: normal;
  }
  .logo_footer {
    line-height: normal;
    margin: 0 0 10px 50px;

    li:nth-child(1), li:nth-child(2) {
      color: #767b83;
    }
  }
  .footer_social {
    display: inline-block;
    float: right;
    margin-right: 50px;
    i {
      color: @basic_color;
      margin-right: 20px;
      font-size: 30px;
    }
  }
}



